:root {}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.tittle {
    font-size: 1.4rem;
    text-align: center;
    margin: 20px 0;
}

body {
    min-height: 100dvh;
    height: 100%;
    /* border: 2px solid blue; */
}

small {
    font-size: .8rem;
}

/*-------------------------- OPTIONS CONTAINER --------------------------*/

.options-container {
    color: #000;
    border: 7px solid #1862a7;
    background-color: #ffda21;
    border-top: none;
    border-right: none;
    padding: 12px 20px;
    border-radius: 15px 0px 0px 20px;
    display: inline-block;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    z-index: 10;
}

.options-container a i {
    font-size: 20px;
    color: #181823;
}


/*-------------------------- ATTEMPS CONTAINER --------------------------*/

.attemps-container {
    display: inline-block;
    border: 7px solid #1862a7;
    background-color: #ffda21;
    border-top: none;
    border-left: none;
    border-radius: 0 15px 20px 0px;
    padding: 13px 15px;
    position: fixed;
    font-size: 1.2rem;
    letter-spacing: .8px;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 10;
    color: #181823;
}


/*-------------------------- CONTAINER CARDS --------------------------*/

.container-cards {
    /* padding: 80px 0; */
    width: 90%;
    position: relative;
    z-index: 1;
    max-width: 1600px;
    min-height: 100dvh;
    height: 100%;
    margin: 0 auto;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
    grid-template-rows: auto;
    gap: 30px;
}

.card {
    height: 400px;
    width: 100%;
    position: relative; 
}

.front > img {
    width: inherit;
    height: inherit;
    border-radius: 1.5rem;
}

.front,
.back {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-origin: center;
    transition: transform 1000ms;
    /* transform-style: preserve-3d; */
}

.front {
    z-index: 999;
    cursor: pointer;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border: 1px solid black;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    /* background: radial-gradient(circle at 50% 0%, #F4CE14 38%, #fff 38%); */
}

/* .card:hover > .front {
    transform: rotateY(180deg);
}

.card:hover > .back {
    transform: rotateY(0deg);
} */

.back>.hp-container {
    border: transparent;
    background-color: rgba(255, 255, 255, 0.625);
    border-radius: 1rem;
    padding: 10px 12px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 15px 0 0;
}

small {
    font-size: .7rem;
}

.pokemon-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.pokemon-container>img {
    width: 165px;
    height: 165px;
}

.pokemon-container>.name {
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    font-size: 1.4rem;
}

.types-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.types-container>button {
    border-radius: .5rem;
    border: transparent;
    padding: 7px 10px;
    font-size: .8rem;
    cursor: pointer;
    background-color: #F4CE14;
    color: #fff;
    letter-spacing: 1px;
}

.stats-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.stats-container>p {
    text-align: center;
    text-transform: capitalize;
    font-size: 1rem;
    line-height: 1.2;
    color: #000;
}

strong {
    color: #74747e;
    font-weight: 500;
}

.stats-container p>span {
    font-weight: bold;
}


@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1160px) {
    
    
}

@media screen and (max-width: 865px) {
    
   
}

@media screen and (max-width: 565px) {
    
 
}